<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abim.belajaraksara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAksara">
        <activity android:name=".LatihanPasanganActivity9"></activity>
        <activity android:name=".LatihanPasanganActivity8" />
        <activity android:name=".LatihanPasanganActivity7" />
        <activity android:name=".LatihanPasanganActivity6" />
        <activity android:name=".LatihanPasanganActivity5" />
        <activity android:name=".LatihanPasanganActivity4" />
        <activity android:name=".LatihanPasanganActivity3" />
        <activity android:name=".LatihanPasanganActivity2" />
        <activity android:name=".LatihanPasanganActivity1" />
        <activity android:name=".LatihanPasanganActivity" />
        <activity
            android:name=".PretestPasanganActivity9"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity8"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity7"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity6"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity5"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity4"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity3"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity2"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity1"
            android:exported="true" />
        <activity
            android:name=".PretestPasanganActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LatihanAngkaActivity9"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity8"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity7"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity6"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity5"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity4"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity3"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity2"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity1"
            android:exported="true" />
        <activity
            android:name=".LatihanAngkaActivity"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity9"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity8"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity7"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity6"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity5"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity4"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity3"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity2"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity1"
            android:exported="true" />
        <activity
            android:name=".PretestAngkaActivity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar9Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar8Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar7Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar6Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar5Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar4Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar3Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar2Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasar1Activity"
            android:exported="true" />
        <activity
            android:name=".PretestDasarActivity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar9Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar8Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar7Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar6Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar5Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar4Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar3Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar2Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasar1Activity"
            android:exported="true" />
        <activity
            android:name=".LatihanDasarActivity"
            android:exported="true" />
        <activity
            android:name=".PasanganActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".BacaActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".TebakActivity"
            android:exported="true" />
        <activity
            android:name=".EvaluasiActivity"
            android:exported="true" />
        <activity
            android:name=".SandhanganActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".SwaraActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".AngkaActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".DasarActivity"
            android:exported="true"
            android:parentActivityName=".MateriDashboardActivity" />
        <activity
            android:name=".EvaluasiDashboardActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".MateriDashboardActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>