<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abim.belajaraksara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAksara">
        <activity android:name=".BacaActivity"></activity>
        <activity android:name=".TebakActivity" />
        <activity android:name=".EvaluasiActivity" />
        <activity android:name=".PasanganActivity" />
        <activity android:name=".SandhanganActivity" />
        <activity android:name=".SwaraActivity" />
        <activity android:name=".AngkaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DasarActivity"/>
        <activity android:name=".EvaluasiDashboardActivity" />
        <activity android:name=".MateriDashboardActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>